@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: 225 34% 100%;
      --foreground: 225 80% 5%;
      --muted: 225 30% 86%;
      --muted-foreground: 225 7% 25%;
      --popover: 225 34% 100%;
      --popover-foreground: 225 80% 5%;
      --card: 225 34% 100%;
      --card-foreground: 225 80% 5%;
      --border: 225 5% 93%;
      --input: 225 5% 93%;
      --primary: 225 18% 75%;
      --primary-foreground: 225 18% 15%;
      --secondary: 225 5% 91%;
      --secondary-foreground: 225 5% 31%;
      --accent: 225 12% 85%;
      --accent-foreground: 225 12% 25%;
      --destructive: 19 88% 32%;
      --destructive-foreground: 0 0% 100%;
      --ring: 225 18% 75%;
      --chart-1: 225 18% 75%;
      --chart-2: 225 5% 91%;
      --chart-3: 225 12% 85%;
      --chart-4: 225 5% 94%;
      --chart-5: 225 21% 75%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 225 60% 4%;
      --foreground: 225 28% 98%;
      --muted: 225 30% 14%;
      --muted-foreground: 225 7% 75%;
      --popover: 225 60% 4%;
      --popover-foreground: 225 28% 98%;
      --card: 225 60% 4%;
      --card-foreground: 225 28% 98%;
      --border: 225 5% 11%;
      --input: 225 5% 11%;
      --primary: 225 18% 75%;
      --primary-foreground: 225 18% 15%;
      --secondary: 225 9% 14%;
      --secondary-foreground: 225 9% 74%;
      --accent: 225 17% 23%;
      --accent-foreground: 225 17% 83%;
      --destructive: 19 88% 60%;
      --destructive-foreground: 0 0% 0%;
      --ring: 225 18% 75%;
      --chart-1: 225 18% 75%;
      --chart-2: 225 9% 14%;
      --chart-3: 225 17% 23%;
      --chart-4: 225 9% 17%;
      --chart-5: 225 21% 75%;
    }
  }

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}